.container{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.form__container{
    display: flex;flex-direction: column;
    align-items: center;
    margin-top: 100px;
    transition: all 0.5s;
    transition: 0.5s all;
}
form{
    gap: 30px;
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: center;
    text-align: center;
    align-items: center;    
    padding: 30px;
    border: 1px solid black;
    border-radius: 15px;
    transition: all 0.5s;
}
input{
    width: 550px;
    padding: 15px;
    transition: all 0.5s;
    border-radius: 15px;
}
button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    transition: all 0.5s;
}
button:hover{
    background-color: transparent;
    border: 1px solid black;
    color: black;
    transform: scale(1.03);
}
body{
    height: 100vh;
}
input:hover{
    box-shadow: -9px 11px 30px 23px rgba(197, 221, 240, 0.6);
    border: none;
    border-radius: 12px;
    transform: scale(1.03);
}
form:hover{
    background-color: blue;
    transform: scale(1.03);
    border: none;
} 

form:hover button{
    background-color: white;
    color: black;
    
}
body{
    font-family: sans-serif;
}
form:hover input{
    border: none;
}
textarea{
    width: 550px;
    padding: 15px;
    transition: all 0.5s;
    border-radius: 15px;
}