.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 250px;
    gap: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    text-align: center;
  }
  
  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .btn{
    padding: 10px;
  }
